@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans';
}

/* -------------------------header section start-------------------------------- */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    padding-left: 228px;
    font-size: 45px;
}

.menu-bar {
    display: flex;
    padding-right: 240px;
}

.menu {
    padding-right: 80px;
    font-size: 18px;
    color: #424242;
}

/* -----------------------2nd title bar-------------------- */
.title-01 {
    text-align: center;
    padding-left: 529px;
    padding-right: 529px;
}

.prothom-lekha {
    font-size: 64px;
}

.title-details {
    font-size: 16px;
    color: #727272;
    padding-bottom: 32px;
}

.btn {
    text-align: center;
    padding-bottom: 50px;
}

.btn-title, .btn-title-01 {
    padding: 16px 22px;
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
}

.banner {
    text-align: center;
    padding-bottom: 45px;
}

.banner img {
    width: 1440px;
    height: 700px;
}

/* <!------------------------- Team section start--------------------------- --> */
.main-container {
    align-items: center;
    width: 1318px;
    height: 708px;
    margin-bottom: 130px;
}

.caption {
    padding-left: 76px;
    padding-right: 200px;
}

.team-container {
    display: flex;
    align-items: center;
    width: 1890px;
    height: 708px;
}

.team-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-left: 301px;
}

.photos {
    border: 0px;
    border-radius: 8px;
    width: 342px;
    height: 342px;
}

.team-title {
    font-size: 45px;
    color: #FF900E;
    padding-right: 240px;
}

.Quick-list {
    color: #727272;
}

.of-Our {
    color: #131313;
}

.team-paragraph {
    font-size: 16px;
    color: #727272;
    width: 537px;
    height: 78px;
}

/* ---------------------------Service Section Start ----------------------*/
.service-container {
    display: flex;
    margin-left: 300px;
    width: 1440px;
    height: 1059px;
    left: 250px;
    top: 2246px;
}

.serviceses-container {
    width: 586px;
}

.service-title {
    font-size: 45px;
    color: #131313;
    width: 468px;
    height: 106px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.service-caption {
    font-size: 16px;
    padding-right: 110px;
    line-height: 26px;
    height: 78px;
}

/* comments */
.comment-container {
    gap: 20px;
}

.service-subtitle {
    width: 586px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.description-title {
    font-size: 20px;
    line-height: 23px;
}

.comment {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 514px;
    height: 78px;
}

.box-btn {
    margin-top: 20px;
    padding-left: 800px;

}

.service-btn {
    width: 342px;
    line-height: 45px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 65px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
}

.btn-colour {
    font-size: 25px;
}

.service-photo {
    width: 708px;
    height: 982px;
}

/* ----------------------Facts section----------------------- */
.container-facts {
    margin-top: 129px;
    padding-left: 300px;
}

.title-facts {
    font-size: 45px;
    line-height: 53px;
}

.description-title-01 {
    width: 542px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}

.box-container-01 {
    display: flex;
    justify-content: center;
    gap: 115px;
    margin-bottom: 180px;
}

.rating {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 169px;
    height: 200px;
    line-height: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 10px;

}

.ti-00 {
    font-size: 45px;
}

.para-88 {
    font-size: 20px;
    color: #727272;
}

/* ------------------------Sponspors Section-------------------------- */

.sponspors-container {
    text-align: center;

}

.sponspors-lists {
    line-height: 28px;
}

.sponspors-title {
    font-size: 45px;
}

.sponspors-comments {
    font-size: 16px;
    text-align: center;
    color: #727272;
    align-content: center;
    padding-right: 650px;
    padding-left: 671px;
    margin-bottom: 50px;
}

.websites-logos {
    display: flex;
    justify-content: center;
    gap: 155px;
    margin-bottom: 130px;
}

/* ------------------------------footer section --------------------------------------------- */
.footer-container{
    margin-bottom: 216px;
}
.footer-title {
    text-align: center;
    font-size: 20px;
    color: #424242;
    background-color: #FFF4E7;
    width: 1440px;
    height: 50px;
    padding-top: 25px;
    line-height: 35px;
    padding-bottom: 40px;
    margin-left: 240px;
    margin-right: 240px;
}
.dip a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/* ---------------------------------Mobile Size--------------------------------- */
@media only screen and (max-width: 688px) {
    .title{
        padding-left: 10px;
        font-size: 35px;
        text-align: center;
    }
    .title-bar{
        display: block;
        flex-direction: row;
    }
    .title-details{
        line-height: 24px;
        font-size: 14px;
    }
    .menu-bar {
        /* display: flex; */
        flex-direction: row;
    }
    .menu{
        padding-right: 37px;
        padding-left: 5px;
    }
    .photos{
        padding-left: 19px;
    }
    .prothom-lekha{
        font-size: 55px;
    }
    .banner{
        padding-bottom: 2px;
    }
    .title-01{
        padding-left: 0px;
        padding-right: 0px;
    }
    .banner img{
        width: 100%;
        height: 265px;
    }
    .team-container{
        display: block;
        flex-direction: column;
        align-items: none;
    }
    .team-title{
        font-size: 29px;
        padding-left: 15px;
    }
    .team-photos{
        padding-left: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .team-paragraph{
        width: 370px;
        line-height: 27px;
        padding-bottom: 86px;
        text-align: center;
        font-size: 14px;
        height: 56px;
        padding-left: 15px;
    }
    .btn-title{
        margin-left: 2px;
    }
    .caption{
        padding-left: 0px;
    }
    .service-container{
        display: block;
        margin-left: 5px;
    }
    .service-title{
        width: 345px;
        height: 35px;
        margin-top: 1100px;
        font-size: 24px;
        padding-left: 19px;
    }
    .service-caption{
        text-align: center;
        padding-right: 1080px;
        padding-left: 25px;
        height: 145px;
        font-size: 14px;
    }
    .service-subtitle{
        width: 370px;
        padding-left: 15px;
    }
    .description-title{
        text-align: center;
    }
    .service-photo img{
        width: 349px;
        padding-left: 15px;
    }
    .comment{
        text-align: center;
        font-size: 15px;
        line-height: 23px;
        width: 345px;
        height: 78px;
    }
    .btn-title-01{
        margin-left: 110px;
    }
    .box-btn{
        padding-left: 25px;
        margin-top: 380px;
    }
    .title-facts{
        text-align: center;
    }
    .container-facts{
        margin-top: 70px;
        padding-left: 10px;
    }
    .description-title-01{
        width: 352px;
        font-size: 15px;
        text-align: center;
        padding-left: 10px;
    }
    .box-container-01{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }
    .sponspors-comments{
        font-size: 15px;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    .websites-logos{
        flex-direction: column;
        gap: 45px;
    }
    .footer-container{
        margin-bottom: 70px;
    }
    .footer-title{
        text-align: center;
        font-size: 18px;
        width: 359px;
        height: 80px;
        padding-top: 25px;
        line-height: 32px;
        padding-bottom: 40px;
        margin-left: 20px;
    }
}