@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans';
}

/* -------------------------header section start-------------------------------- */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    padding-left: 228px;
    font-size: 45px;
}

.menu-bar {
    display: flex;
    padding-right: 240px;
}

.menu {
    padding-right: 80px;
    font-size: 18px;
    color: #424242;
}

/* -----------------------2nd title bar-------------------- */
.title-01 {
    text-align: center;
    padding-left: 529px;
    padding-right: 529px;
}

.prothom-lekha {
    font-size: 64px;
}

.title-details {
    font-size: 16px;
    color: #727272;
    padding-bottom: 32px;
}

.btn {
    text-align: center;
    padding-bottom: 50px;
}

.btn-title,
.btn-title-01 {
    padding: 16px 22px;
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
}

.banner {
    text-align: center;
    padding-bottom: 45px;
}

.banner img {
    width: 1440px;
    height: 700px;
}

/* <!------------------------- Team section start--------------------------- --> */
.main-container {
    align-items: center;
    width: 1318px;
    height: 708px;
    margin-bottom: 130px;
}

.caption {
    padding-left: 76px;
    padding-right: 200px;
}

.team-container {
    display: flex;
    align-items: center;
    width: 1890px;
    height: 708px;
}

.team-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding-left: 301px;
}

.photos {
    border: 0px;
    border-radius: 8px;
    width: 342px;
    height: 342px;
}

.team-title {
    font-size: 45px;
    color: #FF900E;
    padding-right: 240px;
}

.Quick-list {
    color: #727272;
}

.of-Our {
    color: #131313;
}

.team-paragraph {
    font-size: 16px;
    color: #727272;
    width: 537px;
    height: 78px;
}

/* ---------------------------Service Section Start ----------------------*/
.service-container {
    display: flex;
    margin-left: 300px;
    width: 1440px;
    height: 1059px;
    left: 250px;
    top: 2246px;
}

.serviceses-container {
    width: 586px;
}

.service-title {
    font-size: 45px;
    color: #131313;
    width: 468px;
    height: 106px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.service-caption {
    font-size: 16px;
    padding-right: 110px;
    line-height: 26px;
    height: 78px;
}

/* comments */
.comment-container {
    gap: 20px;
}

.service-subtitle {
    width: 586px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.description-title {
    font-size: 20px;
    line-height: 23px;
}

.comment {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 514px;
    height: 78px;
}

.box-btn {
    margin-top: 20px;
    padding-left: 800px;

}

.service-btn {
    width: 342px;
    line-height: 45px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 65px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
}

.btn-colour {
    font-size: 25px;
}

.service-photo {
    width: 708px;
    height: 982px;
}

/* ----------------------Facts section----------------------- */
.container-facts {
    margin-top: 129px;
    padding-left: 300px;
}

.title-facts {
    font-size: 45px;
    line-height: 53px;
}

.description-title-01 {
    width: 542px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}

.box-container-01 {
    display: flex;
    justify-content: center;
    gap: 115px;
    margin-bottom: 180px;
}

.rating {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 169px;
    height: 200px;
    line-height: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 10px;

}

.ti-00 {
    font-size: 45px;
}

.para-88 {
    font-size: 20px;
    color: #727272;
}

/* ------------------------Sponspors Section-------------------------- */

.sponspors-container {
    text-align: center;

}

.sponspors-lists {
    line-height: 28px;
}

.sponspors-title {
    font-size: 45px;
}

.sponspors-comments {
    font-size: 16px;
    text-align: center;
    color: #727272;
    align-content: center;
    padding-right: 650px;
    padding-left: 671px;
    margin-bottom: 50px;
}

.websites-logos {
    display: flex;
    justify-content: center;
    gap: 155px;
    margin-bottom: 130px;
}

/* ------------------------------footer section --------------------------------------------- */
.footer-container {
    margin-bottom: 216px;
}

.footer-title {
    text-align: center;
    font-size: 20px;
    color: #424242;
    background-color: #FFF4E7;
    width: 1440px;
    height: 50px;
    padding-top: 25px;
    line-height: 35px;
    padding-bottom: 40px;
    margin-left: 240px;
    margin-right: 240px;
}

.dip a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/* ---------------------------------Mobile Size--------------------------------- */
@media only screen and (max-width: 688px) {

    .header, .service-container, .container-facts, .container-rating, .sponspors-container, .footer-container{
        width: 100%;
    }

    /* -------------Header Section Start-------------------- */
    .title {
        padding-left: 70px;
        margin-top: 5px;
    }

    .title-bar {
        display: block;
    }

    .menu {
        padding-right: 41px;
        padding-left: 8px;
    }

    .title-01 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .banner {
        text-align: start;
        padding-bottom: 0;
    }

    .banner img {
        width: 390px;
        height: 300px;
    }

    /* ------------------Header Section End----------------- */

    /* ----------------------Team Section Start----------------------------- */
    .main-container {
        width: 100;
        height: 1450px;
        margin-bottom: 340px;
    }

    .team-photos {
        width: 397px;
        padding-left: 25px;
        padding-bottom: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .photos img {
        padding-bottom: 18px;
    }

    .team-container {
        display: block;
    }

    .photos img {
        width: 350px;
        
    }

    .caption {
        border: 1px solid red;
        width: 387px;
        height: 317px;
        padding-left: 0;
        padding-right: 0;
    }

    .team-title {
        padding-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .team-paragraph {
        text-align: center;
        width: 380px;
        height: 78px;
    }

    .btn-title-01 {
        margin-left: 102px;
    }

    /* ------------------------------Service Section Start----------------------------------- */
    .service-container {
        display: block;
        margin-left: 0;
        width: 387px;
        height: 1445px;
    }

    .service-title {
        width: 389px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .service-subtitle{
        width: 353px;
        margin-left: 10px;
        padding-left: 12px;
    }
    .comment{
        font-size: 14px;
        line-height: 22px;
        width: 341px;
        height: 82px;
    }

    .service-caption {
        padding-left: 0;
        font-size: 15px;
        text-align: center;
        height: 156px;
        width: 383px;
    }
    .service-photo{
        width: 397px;
    }

    .service-photo img {
        width: 320px;
        height: 400px;
        padding-left: 32px;
    }
    .box-btn{
        margin-top: 10px;
        margin-bottom: 15px;
        padding-left: 20px;
    }
    /* Facts Section Start */
    .container-facts{
        margin-top: 0;
        padding-left: 0;
        text-align: center;
        height: 250px;
        margin-bottom: 20px;
    }
    .description-title-01{
        font-size: 15px;
        width: 359px;
        padding-left: 12px;
    }
    .box-container-01{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 90px;
    }
    .sponspors-comments{
        font-size: 15px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .websites-logos{
        flex-direction: column;
        gap: 70px;
        margin-bottom: 50px;
    }

    .container-rating{
        margin-bottom: 90px;
    }
    .footer-title{
        text-align: center;
        width: 397px;
        height: 90px;
        padding-top: 29px;
        padding-bottom: 45px;
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
        line-height: 31px;
    }
}
@media only screen (min-width: 689px) and (max-width: 992px) {
    
}